body{
    text-align:center;
    font-family:Arial;
}

.icon{
    max-height:70px;
    opacity:0.25;
    height:auto;
    width:auto;
    position: relative;
	display: inline-block;
}

.icon:hover{
    opacity:1;
}

.me{
    margin:40px auto 0 auto;
    max-height:200px;
    height:auto;
    width:auto;
    border-radius:100%;
    z-index:1;
}

.name{
    border-bottom: 2px dashed black;
    font-size:50px;
}

.about{
    margin:0 auto;
    color:white;
    height:220px;
    width:800px;
    font-size:30px;
    font-style:italic;
    background-color:#3d7dcc;
}

.aboutTitle{
    padding-top:20px;
}

.aboutText{
    font-family:Garamond,Times;
    font-style:normal;
    margin-top:-30px;
    text-align:left;
    font-size:30px;
    padding-left:50px;
}