div{
    text-align:center;
    font-family:Arial;
}

#links{
    position: relative;
	display: inline-block;
}

#icon{
    max-height:100px;
    height:auto;
    width:auto;
}

#me{
    margin:40px auto 0 auto;
    max-height:220px;
    height:auto;
    width:auto;
    border-radius:100%;
    border:5px solid black;
    z-index:1;
}

.nameS{
    font-size:25px;
}
#name{
    border-top:3px solid black;
    border-bottom: 3px solid black;
}

.about{
    
}