body{
    text-align:center;
    font-family:Arial;
}

.icon{
    max-height:70px;
    opacity:0.25;
    height:auto;
    width:auto;
    position: relative;
	display: inline-block;
    
}

.icon:hover{
    opacity:1;
}

.icon:active{
    transform:translateY(4px);
}

.top{
    margin:40px auto -30px;
}

.me{
    max-height:200px;
    height:auto;
    width:auto;
    border-radius:100%;
    z-index:1;
    
}

.name{
    border-bottom: 2px dashed black;
    padding-top:10px;
    font-size:50px;
}

.about{
    margin:0 auto;
    color:white;
    height:220px;
    width:800px;
    font-size:30px;
    font-style:italic;
    background-color:#3d7dcc;
    box-shadow: 0px 10px 0px #1d3f7a;
}

.paddedTitle{
    padding-top:18px;
}

.paddedProject{   
    padding-top:14px;
}

.aboutText{
    font-family:Garamond,Times;
    font-style:normal;
    margin-top:-30px;
    text-align:left;
    font-size:30px;
    padding-left:50px;
    padding-right:50px;
}

.project{
    margin:70px auto;
    height:60px;
    width:250px;
    font-size:30px;
    color:white;
    background-color:#4f49ff;
    font-style:italic;
    font-weight:bold;
    box-shadow: 0px 10px 0px #2c27ad;
}

.end{
    height:500px;
}